* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #0059b3;
}
.left-div {
  float: left;
  width: 20%;
  background-color: yellow;
  min-height: 500px;
}
main {
  text-align: center;
  min-height: 500px;
  width: 60%;
}
.right-div {
  float: right;
  min-height: 500px;
  background-color: yellow;
  width: 20%;
}
footer {
  text-align: center;
  clear: both;
  min-height: 125px;
}
