* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
 background-color: #0059b3;
}
.left-div {
 float: left;
  background-color: yellow;
}
main {
 text-align: center;
  min-width: 500px;
}
.right-div {
  float: right; 
  background-color: yellow;
}
footer {
  text-align: center;
  min-width: 125px;
}
