* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.top-container {
    background-color: #ffb6c1;
    padding: 20px;
}
.left-button {
    background-color: lightgray;
    opacity: 0.5;
    position: absolute;
    font-size: xx-large;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.image-row-container {
    background-color: lightskyblue;
    display: flex;
    justify-content: center;
    position: relative;
}
.gallery {
    width: 200px;
}
.desc {
    text-transform: uppercase;
}
.right-button {
    background-color: lightgray;
    opacity: 0.5;
    position: absolute;
    font-size: xx-large;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
img {
    width: 100px;
}
footer {
    background-color: lightseagreen;
    display: flex;
    justify-content: center;
}
footer a:first-child {
    margin-right: 20px;
}