* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    background-color: lightgray;
    font-family: 'Sen', sans-serif;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
header {
    display: flex;
    justify-content: center;
}
form {
    text-align: center;
    padding: 10px;
}
form h2 {
    text-decoration: underline;
}
footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
footer a:first-child {
    margin-right: 20px;
}